@model IEnumerable<ASSNlearningManagementSystem.Models.ExamViewModel>

<h2 class="mb-4">My Exams</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<table class="emp_table">
    <thead>
        <tr>
            <th>Exam ID</th>
            <th>Exam Title</th>
            <th>Topic</th>
            <th>Duration (mins)</th>
            <th>Max Marks</th>
            <th>Passing Marks</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>
                <td>@exam.ExamId</td>
                <td>@exam.ExamTitle</td>
                <td>@exam.TopicName</td>
                <td>@exam.Duration</td>
                <td>@exam.MaxMarks</td>
                <td>@exam.PassingMarks</td>
                <td>
                    <a asp-action="AttendExam" asp-controller="Learner" asp-route-examId="@exam.ExamId" class="btn btn-sm btn-primary">
                        Join Exam
                    </a>

                </td>


            </tr>
        }
    </tbody>
</table>
